/* General Page Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Container for the signup page */
.signup-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(9, 8, 8);
}



h2 {
    color:white;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

h2 .dot {
    color: orange;
}

p {
    text-align: center;
    color:white;
    margin: 10px 0;
}

p a {
    color: orange;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}

/* Form Styling */
form {
    margin-top: 20px;
}

label {
    color:white;
    display: block;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


button {
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    border: none;
    background: orange;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    background: darkorange;
}

/* Terms and Conditions */
.terms {
    font-size: 12px;
    margin-top: 15px;
    text-align: center;
}



@media (max-width: 768px) {
    .signup-container {
        flex-direction: column;
        text-align: center;
    }

}
